/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #00b3b3;
    color: white;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* Hero Section */
.hero {
    padding: 120px 20px;
    text-align: center;
    background: #b325b3;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

/* About Section */
.about {
    padding: 80px 20px;
    text-align: center;
    background: #a7d8ff;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Projects Section */
.projects {
    padding: 80px 20px;
    background: #ff8acb;
    text-align: center;
}

.projects h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: #e783b6;
    padding: 25px;
    width: 260px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: white;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

/* Contact Section */
.contact {
    padding: 70px 20px;
    background: #e7f88f;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    padding: 18px;
    text-align: center;
    background: black;
    color: white;
}
